name: my-check

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.5'
          
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v2.7.2
          args: --timeout=5m

  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   needs: lint
  #   steps:
  #     - uses: actions/checkout@v4
      
  #     - name: Set up Go
  #       uses: actions/setup-go@v4
  #       with:
  #         go-version: '1.25.5'
  #         cache: true
  #         cache-dependency-path: go.sum
          
  #     - name: Run tests
  #       run: go test -v ./...
        
  #     - name: Run tests with coverage
  #       run: go test -coverprofile=coverage.out ./...
        
  #     - name: Upload coverage report
  #       uses: codecov/codecov-action@v3
  #       if: success()

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.5'
          
      - name: Build application
        run: |
          go build -o bin/hexlet-path-size ./cmd/hexlet-path-size
          echo "Build completed successfully!"
          
      - name: Run application
        run: |
          ./bin/hexlet-path-size
